<div class="container margen">
  <div class="row">
    <div class="col">
      <form action="/admin/novedades/agregar" method="post">
        <div class="mb-3">
            <label for="" class="form-label">nombre</label>
         <input type="text" class="form-control" name="nombre">
</div>
  <div class="mb-3">
    <label for="" class="form-label">precio</label>
      <textarea class="form-control" rows="3" name="precio"></textarea>
 </div>
 <div class="mb-3">
    <label for="" class="form-label">cuerpo</label>
      <textarea class="form-control" rows="3" name="cuerpo"></textarea>
 </div>
 <div class="col-auto">
    <button type="submit" class="btn btn-secondary">Guardar</button>

 </div>
    </form>
      {{#if error}}
      <p>{{message}}</p>
      {{/if}}
    </div>
  </div>
</div>>    