<div class="container margen">
  <div class="row">
    <div class="col">
      <form action="">
        <div class="mb-3">
         <input type="text" class="form-control" placeholder="usuario">
</div>
  <div class="mb-3">
    <input type="password" class="form-control" placeholder="contraseña">
 </div>
 <div class="col-auto">
    <button type="button" class="btn btn-secondary">Ingresar</button>

 </div>

  
      </form>
    </div>
  </div>
</div>>    