 <main class="contacto">
    <div>
        <h2>Contacto</h2>
            <form action="" class="formulario">
            <p>
                <label for="nombre">Nombre</label>
                <input type="text">
                
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text">
            </p>
            <p>
                <label for="telefono">Télefono</label>
                <input type="text">
            </p>
            <p>
                <label for="productos">¿Qué productos te interesan?</label>
                <input type="text">
            </p>
            <p>
                <label for="info">¿Cómo nos conociste?</label>
                <input type="text">
            </p>
            <p>
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id=""></textarea>
            </p>
            <p>
                <input type="submit" value="enviar">
            </p>
         
            </form>
    </div>
    <div class="contactanos">
        <h2>Contactanos</h2>
        <p>Te esperamos de lunes a sábados desde las 8:00hs hasta las 20hs</p>
           <ul>
               <i class="fa-solid fa-square-phone"></i>
               <li>Telefono:11-7806-0987</li>
               <i class="fa-solid fa-envelope"></i>
               <li>Email:contacto@bakery.com.ar</li>
               <i class="fa-brands fa-facebook-square"></i>
               <li>Facebook:facebook.com/Bakery</li>
               <i class="fa-brands fa-twitter-square"></i>
               <li>Twitter:@Bakery</li>
               <i class="fa-solid fa-house"></i>
               <li>Sucursal Adrogue</li>
               <i class="fa-solid fa-house"></i>
               <li>Sucursal Lomas de Zamora</li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52442.00398395403!2d-58.41984194999999!3d-
            34.76503185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcd26f546bce25%3A0xdf49f0f627968f4c!2s
            Parque%20Municipal%20de%20Lomas%20de%20Zamora%20%22Eva%20Per%C3%B3n%22!5e0!3m2!1ses-419!2sar!4v1653880826365!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    </main> 
   