<main class="holder">
        <img class="portada" src="images/header/5.jpg" alt="portada" width="100%">
    </main>
    <section class="variedades">
        <div class="contenedor" >
        <img src="images/inicio/1.jpg" alt="dulce">
        <div class="texto">
        <h2>DULCE</h2>
        <p class=>Productos elaborados con las mejores materias primas</p>
        <a href="producto.html" class="info">Leer mas</a>
        </div>
        </div>
        
        <div class="contenedor">
        <img src="images/inicio/2.jpg" alt="salado">
        <div class="texto">
        <h2>SALADO</h2>
        <p>Productos elaborados con las mejores materias primas</p>
        <a href="producto.html" class="info">Leer mas</a>
        </div>
        </div>

        <div class="contenedor">
        <img src="images/inicio/3.jpg" alt="pasteles">
        <div class="texto">
        <h2>PASTELES</h2>
        <p>Pasteles elaborados con las mejores materias primas</p>
        <a href="producto.html" class="info">Leer mas</a>
        </div>
        </div>
    
    </section>
    
    <section class="destacados">
        <h1>Nuestros productos destacados</h1>
        <div class="productos">
            <img src="images/pedidos/4.jpg" alt="croissant">
            <img src="images/pedidos/5.jpg" alt="cheesecake">
            <img src="images/pedidos/6.jpg" alt="bagels">
            <img src="images/pedidos/7.jpg" alt="factura">
            <img src="images/pedidos/8.jpg" alt="pastafrolas">
            <img src="images/pedidos/9.jpg" alt="cupcakes">
            <img src="images/pedidos/10.jpg" alt="donas">
            <img src="images/pedidos/11.jpg" alt="roll">

        </div>

    </section>
