<main class="holder">
        <img class="portada" src="images/nosotros/02.jpg" alt="portada" width="100%">
    </main>
    <section class="nosotros">
        <h2>Acerca de nosotros</h2>
        <p>El el año 2021 nace un sueño, el de 2 emprendedores que tras la pandemia queríamos tomar un rumbo distinto, 
           plasmar nuestra pasión por la pastelería y la panadería, ofreciendo un concepto diferente de aquello que ya existe en el mercado. 
           Bakery es un emprendimiento en donde amamos lo que hacemos y lo expresamos a través de nuestras elaboraciones. Desde el principio, 
           nos esforzamos por seleccionar producto de excelente calidad y por crear sabores únicos. Creemos que es fundamental que el foco este
           puesto en el cliente y brindar una imagen moderna pero al mismo tiempo familiar. Nuestro equipo de trabajo se capacita permanentemente
           con el fin de crear productos novedosos o recrear aquellos que ya existen de manera moderna, brindando sabores de ayer y de hoy, 
           sabores que no se extinguen, siempre en búsqueda de la perfección.  
           Contamos con nuestras cocinas equipadas para mantener los mismos pilares con lo que empezamos. 
           Somos muy exigentes en el proceso de selección de nuestras materias primas ya que es fundamental brindar siempre la mejor calidad. 
           Contamos con 2 locales, uno más orientado a productos  de panadería elaborados a partir de la fermentación con masa madre y otro 
           orientado a la pastelería. 
           Bakery Adrogue cuenta con un formato de Take Away donde podes comprar cualquiera de nuestros productos elaborados con masa madre y 
           llevarte un café para disfrutar en tu viaje o donde quieras. 
           Bakery Lomas de Zamora cuenta con mesitas para que nadie se quede sin un producto Bakery. Allí, podes sentarte a degustar nuestras
           especialidades en un ambiente cálido acompañado de un buen café, té, jugo o lo que más te guste. 
           Además, podrás consultar por nuestra variedad de tortas de cumpleaños, de bodas,de comunión, entre otras.
           Hoy con las ganas intactas seguimos trabajando para cumplir nuestra misión.</p>
        <h3>Te esperamos como siempre para que disfrutes de nuestras delicias</h3>   

    </section>