<h2>Productos por tiempo límitado</h2>
        
        <div class="novedades">
            <h3>Nombre</h3>
            <h4>Precio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>     
        <div class="novedades">
            <h3>Nombre</h3>
            <h4>Precio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>  
        <div class="novedades">
            <h3>Nombre</h3>
            <h4>precio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div> 
        
        <div class="novedades">
            <h3>Nombre</h3>
            <h4>precio</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam recusandae repellendus,
            eligendi beatae culpa voluptas suscipit rem, laborum consectetur, quas deleniti et at eveniet
            sunt perspiciatis facere dolore odio!</p>
            <hr/>
            
        </div>        
        