<h2>Productos por tiempo límitado</h2>
        {{#each novedades}}
        <div class="novedades">
            <h3>{{nombre}}</h3>
            <h4>{{precio}}</h4>
            <p>{{cuerpo}}</p>
            <hr/>
            
        </div>  
        {{/each}}   
         
        