 <h2>Dulces</h2>
    <div class="gusto">
        <div class="gustos">
            <img src="images/dulces/1.jpg" alt="donas">
            <h3>Donas</h3>
            <h4>6.U $650</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/2.jpg" alt="volcan">
            <h3>Volcan de chocolate</h3>
            <h4>1.U $500</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/3.jpg" alt="key">
            <h3>Key Lime Pie</h3>
            <h4>1.U $2000</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/4.jpg" alt="brownie">
            <h3>Brownie</h3>
            <h4>1.U $250</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/5.jpg" alt="macaron">
            <h3>Macarons</h3>
            <h4>6.U $1000</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/6.jpg" alt="cheesecake">
            <h3>Cheesecake</h3>
            <h4>1.P $650</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/7.jpg" alt="cookies">
            <h3>Cookies</h3>
            <h4>6.U $250</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/8.jpg" alt="tarta frutal">
            <h3>Tarta frutal</h3>
            <h4>1.U $1000</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/9.jpg" alt="cupcakes">
            <h3>Cupcakes</h3>
            <h4>6.U $850</h4>
        </div>
        <div class="gustos">
            <img src="images/dulces/10.jpg" alt="pupkin pie">
            <h3>Pupkin pie</h3>
            <h4>6.U $2000</h4>
        </div>
    </div>
    <h2>Salado</h2>
    <div class="gusto">
    
        <div class="gustos">
            <img src="images/salado/1.jpg" alt="pretzel">
            <h3>Pretzel</h3>
            <h4>6.U $1000</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/2.jpg" alt="avocado toast">
            <h3>Avocado Toast</h3>
            <h4>1.U $500</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/3.jpg" alt="bagel">
            <h3>Bagel</h3>
            <h4>1.U $645</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/4.jpg" alt="baguet">
            <h3>Baguet</h3>
            <h4>1.U $250</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/5.jpg" alt="chips">
            <h3>Chips</h3>
            <h4>6.U $1000</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/6.jpg" alt="pan masa madre">
            <h3>Pan Masa Madre</h3>
            <h4>1.P $650</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/7.jpg" alt="roll salado">
            <h3>Roll salado</h3>
            <h4>1.U $250</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/8.jpg" alt="sandwich">
            <h3>Sandwich</h3>
            <h4>1.U $600</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/9.jpg" alt="empanadas">
            <h3>Empanadas</h3>
            <h4>6.U $700</h4>
        </div>
        <div class="gustos">
            <img src="images/salado/10.jpg" alt="tarta">
            <h3>Tarta</h3>
            <h4>1.U $800</h4>
        </div>
    </div>            
      <h2>Pasteles</h2>
    <div class="gusto">
    
        <div class="gustos">
            <img src="images/pasteles/1.jpg" alt="pastel de bodas">
            <h3>Pastel de Bodas</h3>
            <h4>$8000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/2.jpg" alt="carrot cake">
            <h3>Carrot Cake</h3>
            <h4>$3000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/3.jpg" alt="pastel de bodas">
            <h3>Pastel de Bodas</h3>
            <h4>$8000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/4.jpg" alt="pastel">
            <h3>Pastel</h3>
            <h4>$5000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/5.jpg" alt="pastel de chocolate">
            <h3>Pastel de Chocolate</h3>
            <h4>$4000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/6.jpg" alt="pastel de bodas">
            <h3>Pastel de Bodas</h3>
            <h4>$9000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/7.jpg" alt="dripping cake">
            <h3>Dripping Cake</h3>
            <h4>$5500</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/8.jpg" alt="pastel de cumplea単os">
            <h3>Pastel de Cumplea単os</h3>
            <h4>$6000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/9.jpg" alt="pastel de mariposas">
            <h3>Pastel de Mariposas</h3>
            <h4>$7000</h4>
        </div>
        <div class="gustos">
            <img src="images/pasteles/10.jpg" alt="pastel de cumplea単os">
            <h3>Pastel de cumplea単os</h3>
            <h4>$9000</h4>
        </div>    
        


    </div>